body {
    font-family: 'Roboto Slab', serif;
}

#map {
    height: 100%;
    z-index: 1;
}

.test {
    background-image: 'images/redRadial.png';
    width: 100px;
    height: 100px;
}

#changeSetting {
    border-radius: 5px;
    background-color: #2cd0d0;
    color: #FFF;
    border-style: none;
    font-size: 15;
    width: 80%;
    height: 30px;
    margin: 5%;
    font-family: 'Roboto Slab', serif;
}

#changeButtons {
    width: 95%;
    min-height: 35px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 1.5px solid #dedede;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    padding: 5px;
}


#legendCollection {
    position: absolute;
    bottom: 5%;
    left: 2%;
    z-index: 2;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

#legendCollectioncomp {
    position: absolute;
    bottom: 52%;
    left: 2%;
    z-index: 2;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.legendItem {
    margin-top: 5px;
}

#chartCollection {
    width: 370px;
    height: 75%;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
    visibility: visible;
    border: 1.5px solid rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    bottom: 30px;
    visibility: hidden;
}

#chartCollection2 {
    top: 51%;
    width: 98%;
    height: 22px;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
}

#chartCollection * {
    font-family: 'Roboto Slab', serif;
}

#closeChartCollection {
    background-color: transparent;
    width: 22px;
    height: 22px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: grey;
    border: 1px solid #dedede;
    border-radius: 5px;
    position: absolute;
    right: 2%;
    top: 2%;
}

#closeChartCollection2 {
    background-color: transparent;
    width: 22px;
    height: 22px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: grey;
    border: 1px solid #dedede;
    border-radius: 5px;
    position: absolute;
    right: 2%;
    top: 2%;
}

#closeChartCollection2 {
    background-color: transparent;
    width: 22px;
    height: 22px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: grey;
    border: 1px solid #dedede;
    border-radius: 5px;
    position: absolute;
    right: 2%;
    top: 2%;
}



#sensorInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    height: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
}

#sensorInfo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    height: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
}





#compare{
  width: 95%;
    min-height: 35px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 1.5px solid #dedede;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    padding: 5px;
}

#closecompare{
    position: absolute;
    margin-left: 97%;
    margin-top: 0%;
    background-color: transparent;
    width: 22px;
    height: 22px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: grey;
    border: 1px solid #dedede;
    border-radius: 5px;
}

#sensorInfo p {
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-right: 2%;
}

.sensorInfo {
    color: #656565;
    font-family: sans-serif;
    font-weight: 700;
}

#sensorName {
    color: #3e3e3e;
}

#charts {
    width: 350px;
    display: flex;
    flex-direction: column;
}

#charts2 {
    width: 40%;
}

#sensorDetails {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
    padding-bottom: 7%;
    flex-wrap: wrap;
    justify-content: center;
}
#sensorDetails2 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
    padding-bottom: 7%;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.sensorDetNum {
    width: 80%;
    font-family: sans-serif;
    font-size: 13;
    color: #3e3e3e;
    font-weight: 600;
    text-align: right;
    margin-right: 5px;
}

.sensorDColumn div {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dedede;
}

.sensorDet {
    width: 60%;
    font-family: sans-serif;
    font-size: 13;
    color: #656565;
    font-weight: 600;

}

.sensorDColumn {
    width: 45%;
    margin: 0 5 0 5;
}

#tempChart {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #b9b9b9;
}
.cmpstyle{
    display: flex;
    
}

#tempChart2 {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #b9b9b9;
    position: absolute;
    margin-left: 5%;
}

#pressureChart {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #b9b9b9;
}

#pressureChart2 {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #b9b9b9;
    position: absolute;
    margin-left: 55%;
}

#legendContainer {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #dedede;
    background-image: linear-gradient(to right, green, yellow, orange, red);
}

#legendNumbers {
    width: 100.2%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #656565;
}

#legendNumbers p {
    width: 25%;
    height: 70%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 3%;
}

#O3Chart {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #b9b9b9;
}

#O3Chart2 {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #b9b9b9;
    position: absolute;
    margin-left: 5%;
    margin-top: 300px;
}

#PM1Chart {
    padding-top: 3%;
    padding-bottom: 3%;
}

#PM1Chart2 {
    padding-top: 3%;
    padding-bottom: 3%;
    position: absolute;
    margin-left: 55%;
    margin-top: 300px;
}

#chartScroller {
    height: 85%;
    position: absolute;
    right: 2%;
    bottom: 5%;
    z-index: 2;
    visibility: hidden;
    overflow-y: scroll;
    width: 400px;
}

#scrollableDetails {
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#scrollableDetails2 {
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#scrollableDetails::-webkit-scrollbar {
    width: 10px;
    background-color: #ededed;
    border-radius: 5px;
}

#scrollableDetails::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b9b9b9;
}

.changeType {
    border-radius: 5px;
    background-color: #fff;
    color: #2cd0d0;
    border-style: none;
    font-size: 15;
    width: 20%;
    height: 30px;
    margin: 5%;
    font-family: 'Roboto Slab', serif;
    border: 1px solid #2cd0d0;
    font-size: 13;
    margin: 0 2.5%;
}

.changeType:hover {
    background-color: #2cd0d0;
    transition: 0.3s;
    color: #fff;
}


#topBar {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    margin: auto;
    width: 370px;
    z-index: 2;
    background-color: white;
    height: 35px;
    border-radius: 5px;
    border: 1.5px solid #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#topBarcomp {
    position: absolute;
    top: 2%;
    right: 30%;
    left: 30%;
    width: 40%;
    z-index: 2;
    background-color: white;
    height: 35px;
    border-radius: 5px;
    border: 1.5px solid #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#comparePart{
    visibility: hidden;
    display: none;
}

.topTitles {
    color: #656565;
    padding: 0% 0% 0% 5%;
}

.topDetails {
    padding: 0% 5%;
    color: #3e3e3e;
    border-right: 1px solid #b9b9b9;
}

#locationCity {
    border: 0px;
}

.slidecontainer {
    width: 50%;
    /* Width of the outside container */
    z-index: 2;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
    margin-right: 25%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}




#comparebttn {
    border-radius: 5px;
    background-color: #fff;
    color: #2cd0d0;
    border-style: none;
    font-size: 15;
    width: 95%;
    height: 30px;
    font-family: 'Roboto Slab', serif;
    border: 1px solid #2cd0d0;
    font-size: 15;
    
}

#comparebttn:hover{
    background-color: #2cd0d0;
    color: #FFF;
    transition: 0.2s;
}

#lastMeasurement {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    font-size: 11;
    height: 20px;
    align-items: center;
    font-weight: 700;
}

#chartButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 20px;
    padding: 5px;
    border-bottom: 1px solid #dedede;
    width: 93%;
    align-items: center;
}

.chartButton {
    margin: 0 2%;
    border-radius: 5px;
    background-color: #fff;
    color: #2cd0d0;
    border-style: none;
    font-size: 15;
    font-family: 'Roboto Slab', serif;
    border: 1px solid #2cd0d0;
    font-size: 13;
    min-height: 23px;
}

.chartButton:hover{
    background-color: #2cd0d0;
    color: #FFF;
    transition: 0.2s;
}
