
#outer_box {
    width: 250px;
    height: auto;
    border: 2px solid #646060;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background: white;
    font-family: sans-serif;
    font-size: 13;
    font-weight: 700;
}

#temptext {
    display: flex;
    justify-content: center;
}
#temptext p {
    width: 25%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background: lightgrey
}



img {
    height: 40px
}
